<% if user_signed_in? %>
	<% if current_user.attendees.empty? %>
		<p class="lead">It looks like you haven't added any events yet.<br>
		<%= link_to 'Head over to the Events page to tag along with your new friends!', events_path %></p>
	<% end %>
	<% current_user.attendees.each do |attendee| %>
		<%= attendee.event.inspect %>
	<% end %>
<% end %>